[defaults]
inventory = ./hosts
stdout_callback = skippy
retry_files_ansible = False
private_key_file = ~/.ssh/ansible

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True
remote_src = true
